body {
    background-image: url('https://esthero.fr/cdn/shop/products/D622_1200x1200.jpg?v=1603261034');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Chalkduster', fantasy;
    font-size: 24px;
    color: #ffffff;
    text-shadow:
        1px 1px 0 #333,
        2px 2px 0 #333,
        3px 3px 0 #333;
}

.chalk {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

a {
    outline: none;
    text-decoration: none;
    color: #ffffff;
}



.glass-ctr {
    width: 600px;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;
    top: 250px;
}

.glass {
    width: 300px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    border-radius: 13px;
}

.water-ctr {
    width: 250px;
    height: 400px;
    overflow: hidden;
    background-color: transparent;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    position: relative;
    bottom: 420px;
}

.mojito {
    width: 4000px;
    height: 800px;
    background-image: url('mojito.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.gin_tonic {
    width: 4000px;
    height: 800px;
    background-image: url('gin_tonic.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.bloody_mary {
    width: 4000px;
    height: 800px;
    background-image: url('bloody_mary.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.planteur {
    width: 4000px;
    height: 800px;
    background-image: url('planter.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.horse_s_neck {
    width: 4000px;
    height: 800px;
    background-image: url('horse.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.mary_pickford {
    width: 4000px;
    height: 800px;
    background-image: url('mary_pickford.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.grand_blue {
    width: 4000px;
    height: 800px;
    background-image: url('grand_blue.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.absolut_stress {
    width: 4000px;
    height: 800px;
    background-image: url('absolut_stress.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.kiwi_lemon {
    width: 4000px;
    height: 800px;
    background-image: url('kiwi_lemon.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}

.yellow_bird {
    width: 4000px;
    height: 800px;
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
}


@keyframes mymove {
    0% {
        right: 0;
        top: 400px;
    }

    100% {
        right: 3400px;
        top: -30px;
    }
}

#btn {
    background-image: url('fleche.GIF');
    background-color: transparent;
    font-family: 'Chalkduster', fantasy;
    width: 300px;
    height: 150px;
    background-size: cover;
    border: none;

}

#btn:hover {
    cursor: pointer;
}