body {
    background-image: url('https://esthero.fr/cdn/shop/products/D622_1200x1200.jpg?v=1603261034');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Chalkduster', fantasy ; /* Police de type machine à écrire pour l'aspect craie */
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
    color: #ffffff; /* Couleur du texte (blanc pour l'aspect craie) */
    text-shadow: 
        1px 1px 0 #333, /* Ombre légère */
        2px 2px 0 #333, /* Ombre plus prononcée */
        3px 3px 0 #333; /* Ombre la plus prononcée */
}

.chalk {
    max-width: 800px; /* Ajustez la largeur du conteneur selon vos besoins */
    margin: 0 auto; /* Centrer le conteneur sur la page */
    padding: 20px; /* Ajoutez un peu d'espacement intérieur pour le contenu */
}

a{
    outline: none;
    text-decoration: none;
    color: #ffffff;
}



.glass-ctr{
    width: 600px;
    margin: 0;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.glass{
    width: 300px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    right: 400px;
    top: 250px;
    border-radius: 13px;
}

.water-ctr{
    width: 250px;
    height: 400px;
    overflow: hidden;
    background-color: transparent;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    position: absolute;
    right: 425px;
    top: 250px;
}

.water{
    width: 4000px;
    height: 800px;  
    background-image: url('image.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    animation: mymove 10s;
    animation-fill-mode: forwards;
    z-index: 1;
    right: 400px;
    top: 250px;
}

@keyframes mymove {
    0%{right: 0; top: 400px;}
    100%{right: 3400px; top: -30px;}
}

#btn{
    background-image: url('fleche.GIF');
    background-color: transparent;
    font-family: 'Chalkduster', fantasy ;
    width: 300px;
    height: 150px;
    background-size: cover;
    border: none;

}

#btn:hover{
    
    cursor: pointer;
}